.input-grp {
    input {
        background-color: #eff3f4;
        border: none;
        text-align: center;
    }
    i {
        transform: translate(0, -50%);
        right: 15px;
        top: 50%;
    }
}

p {
    line-height: 1.2;
    color: #c3c0c0;
    font-size: 18px;
}
i.comment {
    color: #9e9b9b;
}

h3 {
    word-wrap: break-word;
}

.bottom {
    cursor: pointer;
}