<app-header></app-header>
<div class="col-lg-5 mx-auto">
    <div class="input-grp position-relative mt-5">
        <input type="text" name="" placeholder="Search" id="" (input)="onSearch($event)" class="form-control rounded-pill">
        <i class="fas fa-search position-absolute"></i>
    </div>
    <ng-container *ngIf="posts.length>0; else elseTemplate">
        <div class="row mt-4" *ngFor="let post of posts" (click)="toDetail(post?.id)">
            <app-card-post [title]="_userSrv.filterUser(post?.userId)" [body]="post?.body"></app-card-post>
            <div class="col-10 ml-auto">
                <div class="bottom">
                    <i class="fas fa-comment comment"></i>
                    <span class="text-primary font-weight-bold ml-3">{{post?.totalComment}}</span>
                    <span class="text-primary font-weight-bold ml-5">Detail</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div *ngFor="let item of [0,1,2]" class="mt-4">
            <app-skeleton-loader></app-skeleton-loader>
        </div>
    </ng-template>

    <ngb-pagination *ngIf="posts.length>0" (pageChange)="onPageChange($event)" [collectionSize]="postList.length"
        [(page)]="page" [pageSize]="pageSize" aria-label="Custom pagination" class="pagination float-right mt-5">
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
    </ngb-pagination>

</div>