.title {
  color: #9e9b9b;
  position: relative;

  &::after {
    content: "";
    height: 3px;
    width: 70px;
    background: #90b6f2;
    position: absolute;
    bottom: -5px;
    left: -10px;
  }
}

.profile {
    cursor: pointer;
}

.text-username {
    color: #5b94ed;
}