<div class="container header-ctn d-flex justify-content-between align-items-center mt-5">
    <h2 class="mb-0 font-weight-bold">Cinta Coding</h2>
    <h4 class="title border-primary font-weight-bold">Post</h4>
    <div ngbDropdown class="profile">
    <h2 class="mb-0 font-weight-bold"ngbDropdownToggle>Welcome, <span class="text-username">{{userData?.username}}</span></h2>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem (click)="toProfile()">Detail Profil</button>
        </div>
    </div>
</div>