<div class="row">
    <div class="col-2">
        <ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '50px' }">
        </ngx-skeleton-loader>
    </div>
    <div class="col-10">
        <div class="wrapper">
            <ngx-skeleton-loader [theme]="{
    width: '80%',
    'border-radius': '0',
    height: '15px',
    'margin-bottom': '10px'
  }"></ngx-skeleton-loader>
        </div>
        <div class="wrapper">
            <ngx-skeleton-loader [theme]="{
    width: '90%',
    'border-radius': '0',
    height: '15px',
    'margin-bottom': '10px'
  }"></ngx-skeleton-loader>
        </div>
        <div class="wrapper">
            <ngx-skeleton-loader [theme]="{
    width: '60%',
    'border-radius': '0',
    height: '15px',
    'margin-bottom': '10px'
  }"></ngx-skeleton-loader>
        </div>
    </div>
</div>