.back-button {
    cursor: pointer;
    i {
        font-size: 28px;
    }
}
p.caption {
    color: #c3c0c0;
}
p {
    color: #d5d5d5;
}

.bottom {
    cursor: pointer;
}
h4.title {
  color: #9e9b9b;
}