<app-header></app-header>
<div class="col-lg-4 mx-auto">
    <div class="back-button mt-5" routerLink="">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="content mt-4">
        <ng-container *ngIf="postLength>0; else elseTemplate">
            <div class="row">
                <div class="col-10 ml-auto">
                    <p class="caption">{{post?.title}}</p>
                </div>
            </div>
            <app-card-post [title]="post?.username" [body]="post?.body"></app-card-post>
            <div class="row">
                <div class="col-10 ml-auto">
                    <div class="bottom" (click)="showComment()">
                        <ng-container *ngIf="showComments; else elseTemplate">
                            <h4 class="title">All Comment</h4>
                            <div *ngFor="let comment of comments">
                                <app-card-post [title]="comment?.email" [body]="comment?.body"></app-card-post>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <i class="fas fa-comment comment"></i>
                            <span class="text-primary font-weight-bold ml-3">5</span>
                        </ng-template>

                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <app-skeleton-loader></app-skeleton-loader>
        </ng-template>
    </div>