<app-header></app-header>
<div class="col-lg-4 mx-auto">
    <div class="back-button mt-5" routerLink="..">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="content px-5 mt-5">
        <p><span class="title">Username :</span><span class="float-right font-weight-bold">{{user.username}}</span></p>
        <p><span class="title">Email :</span><span class="float-right font-weight-bold">{{user.email}}</span></p>
        <p><span class="title">Address :</span><span class="float-right font-weight-bold">{{user.address.street}}, {{user.address.city}}</span></p>
        <p><span class="title">Phone :</span><span class="float-right font-weight-bold">{{user.phone}}</span></p>
    </div>
</div>