<div class="container d-flex flex-column vh-100">
    <div class="header d-flex justify-content-between mt-4">
        <h2 class="mb-0 font-weight-bold">Cinta Coding</h2>
        <button class="btn btn-primary rounded-pill font-weight-bold px-4" routerLink="/login">Login</button>
    </div>
    <div class="img text-center d-flex flex-grow-1 align-items-center justify-content-center"><img src="assets/banner.png" alt="" srcset="" class="w-75"></div>
</div>