<div class="d-flex flex-column col-lg-3 text-center mx-auto vh-100 align-content-center justify-content-center">
    <div class="login">
        <h4 class="font-weight-bold mb-5">Login Page</h4>
        <form action="" [formGroup]="loginGroup">
            <div class="form-ctn  mb-4">
                <input type="text" name="" id="" class="form-control rounded-pill border border-primary"
                    placeholder="Username" formControlName="usernameCtrl">
                <div *ngIf="username.touched && username.errors != null" class="text-left">
                    <label *ngIf="username.errors.required" class="text-danger">This field is required.</label>
                </div>
            </div>
            <div class="form-ctn  mb-4">
                <input type="password" name="" id="" class="form-control rounded-pill border border-primary mb-4"
                    placeholder="Password" formControlName="passwordCtrl">
                <div *ngIf="password.touched && password.errors != null" class="text-left">
                    <label *ngIf="password.errors.required" class="text-danger">This field is required.</label>
                </div>
            </div>
            <button class="btn btn-primary rounded-pill form-control font-weight-bold" [disabled]="!loginGroup.valid || loading" (click)="doLogin()">Login <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i></button>
            <ngb-alert type="danger" (closed)="closeAlert()" *ngIf="isError" class="mt-5">{{ message }}</ngb-alert>
        </form>
    </div>
</div>