/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


ngb-pagination.pagination {
  .active {
    .page-link {
      background-color: transparent;
      color: #c3c0c0;
      border-bottom: 2px solid blue;
    }

  }

  .page-link {
    border: none;
    color: #c3c0c0;
    padding-bottom: 5px;
  }
}

.dropdown-menu.show {
  right: 0;
}

@media (max-width: 480px) {
  .header-ctn {
    display: block !important;
    text-align: center;
  }

  .title::after {
    left: 50% !important;
    transform: translate(-50%, 2px);
  }
}
